%p
  %strong Author:
  = entry.author.name
  &lt;
  %a{ :href => "mailto:#{entry.author.email}" }
    = entry.author.email
  &gt;
%p
  %strong Date:
  = entry.author.date
%p
  %strong Message:
  = entry.message
%p
  %strong SHA:
  = entry.objectish
- if @include_diffs && !entry.parents.empty?
  %pre
    = @git.diff(entry.parents.first.objectish, entry.objectish)
